
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 944px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_about___simple_footer_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 944px;
}

#_bg__about___simple_footer_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 944px;
	background:rgba(249.05,250.04,255,1);
}

#about_me {
	top: 199px;
	left: 120px;
	width: 588px;
	height: 323px;
}

#_bg__about_me_ek1 {
	top: 0px;
	left: 0px;
	width: 588px;
	height: 323px;
	background:#;
}


#title {
	top: 0px;
	left: 0px;
	width: 621.8px;
	height: 86.8px;
	overflow: hidden;
	font-family: Playfair Display;
	font-size: 48px;
	font-weight: bold;
	text-align: left;
	line-height: 72px;
	color:#25282B;
}


#text {
	top: 104px;
	left: 0px;
	width: 607.4px;
	height: 151.4px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 24px;
	text-align: left;
	line-height: 36px;
	color:#828282;
}

#button___primary {
	top: 280px;
	left: 0px;
	width: 114px;
	height: 43px;
}

#_bg__button___primary_ek1 {
	top: 0px;
	left: 0px;
	width: 114px;
	height: 43px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:rgba(253,196,53,1);
}


#text_ek1 {
	top: 8px;
	left: 24px;
	width: 81.8px;
	height: 32.8px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: left;
	line-height: 27px;
	color:#25282B;
}

#bg_2 {
	top: 94px;
	left: 796px;
	width: 524px;
	height: 524px;
}

#_bg__bg_2_ek1 {
	top: -94px;
	left: -796px;
	width: 524px;
	height: 524px;
	background:#;
}


#ellipse_1 {
	top: 0px;
	left: 0px;
	width: 524px;
	height: 524px;
	-ms-border-radius: 262px / 262px;
	-o-border-radius: 262px / 262px;
	-moz-border-radius: 262px / 262px;
	-webkit-border-radius: 262px / 262px;
	border-radius: 262px / 262px;
	background:rgba(253,196,53,1);
	overflow: hidden;
}


#pexels_artem_beliaikin_1832323_removebg_preview {
	top: 0px;
	left: 0px;
	width: 524px;
	height: 524px;
	
}

#header {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 56px;
}

#_bg__header_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 56px;
	background:#;
}


#Charan_Anaala {
	top: 12px;
	left: 120px;
	width: 145.8px;
	height: 37.8px;
	overflow: hidden;
	font-family: Comfortaa;
	font-size: 21px;
	font-weight: bold;
	text-align: left;
	line-height: 32.399999141693px;
	margin-top: -4.7999997138977px;
	height: 55.8px;
	color:#25282B;
}

#nav {
	top: 14px;
	left: 1028px;
	width: 292px;
	height: 32px;
}

#_bg__nav_ek1 {
	top: 0px;
	left: 0px;
	width: 292px;
	height: 32px;
	background:#;
}

#tab___active {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 32px;
}

#_bg__tab___active_ek1 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 32px;
	background:#;
}


#sobre {
	top: 0px;
	left: 0px;
	width: 67.8px;
	height: 33.8px;
	overflow: hidden;
	font-family: Raleway;
	font-size: 18px;
	text-align: left;
	line-height: 28px;
	margin-top: -3.3333333333333px;
	height: 51.8px;
	color:#25282B;
}


#rectangle_11 {
	top: 30px;
	left: 0px;
	width: 52px;
	height: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(37,40,43,1);
}

#tab___default {
	top: 0px;
	left: 100px;
	width: 69px;
	height: 28px;
}

#_bg__tab___default_ek1 {
	top: 0px;
	left: 0px;
	width: 69px;
	height: 28px;
	background:#;
}


#sobre_ek1 {
	top: 0px;
	left: 0px;
	width: 84.8px;
	height: 33.8px;
	overflow: hidden;
	font-family: Raleway;
	font-size: 18px;
	text-align: left;
	line-height: 28px;
	margin-top: -3.3333333333333px;
	height: 51.8px;
	color:#25282B;
}

#tab___default_ek2 {
	top: 0px;
	left: 217px;
	width: 75px;
	height: 28px;
}

#_bg__tab___default_ek3 {
	top: 0px;
	left: 0px;
	width: 75px;
	height: 28px;
	background:#;
}


#_sobre_ek2 {
	top: 0px;
	left: 0px;
	width: 90.8px;
	height: 33.8px;
	overflow: hidden;
	font-family: Raleway;
	font-size: 18px;
	text-align: left;
	line-height: 28px;
	margin-top: -3.3333333333333px;
	height: 51.8px;
	color:#25282B;
}

#footer___icons {
	top: 762px;
	left: 624px;
	width: 192px;
	height: 102px;
}

#_bg__footer___icons_ek1 {
	top: 0px;
	left: 0px;
	width: 192px;
	height: 102px;
	background:#;
}

#icons {
	top: 0px;
	left: 0px;
	width: 192px;
	height: 48px;
}

#_bg__icons_ek1 {
	top: 0px;
	left: 0px;
	width: 192px;
	height: 48px;
	background:#;
}

#ph_instagram_logo_fill {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
}

#_bg__ph_instagram_logo_fill_ek1 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	background:#;
}


#vector {
	top: 5.25px;
	left: 5.25px;
	width: 37.5px;
	height: 37.5px;
}

#bi_linkedin {
	top: 0px;
	left: 72px;
	width: 48px;
	height: 48px;
}

#_bg__bi_linkedin_ek1 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	background:#;
}

#group {
	top: 5px;
	left: 5px;
	width: 38px;
	height: 38px;
}

#_bg__group_ek1 {
	top: -5px;
	left: -5px;
	width: 38px;
	height: 38px;
	background:#;
}


#vector_ek1 {
	top: 0px;
	left: 0px;
	width: 38px;
	height: 38px;
}

#bi_envelope_fill {
	top: 0px;
	left: 144px;
	width: 48px;
	height: 48px;
}

#_bg__bi_envelope_fill_ek1 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	background:#;
}

#group_ek2 {
	top: 8px;
	left: 3px;
	width: 42px;
	height: 32px;
}

#_bg__group_ek3 {
	top: -8px;
	left: -3px;
	width: 42px;
	height: 32px;
	background:#;
}


#vector_ek2 {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 32px;
}


#Charan_Anaala_2024 {
	top: 80px;
	left: 24.5px;
	width: 157.6px;
	height: 26.6px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 16px;
	text-align: left;
	color:#828282;
}




